# Ignore artifacts:
dist
.astro

# Ignore node_modules
node_modules

# Ingore netlify folders
.netlify
netlify 

# Ignore MDX files as Keystatic expects a specific JSX component structure
# IF using Keystatic, I recommend uncommenting the below line so you don't accidentally format things incorrectly
# **/*.mdx

# Ignore tours
.tours

# Standard
**/.git
**/.svn
**/.hg
**/node_modules