---
/**
 * * Base card used for all sidebar cards
 * This allows you to change the core styling in one location
 * You can turn on the icon by setting `showIcon` to true below
 */
import { Icon } from "astro-icon/components";

interface Props {
	title: string;
	icon: string;
	class?: string;
	rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const showIcon = false;

const { title, icon, class: className, ...rest } = Astro.props as Props;
---

<div class=`theme-panel flex flex-col gap-4 border border-base-600 p-4 ${className}` {...rest}>
	<div class="flex flex-wrap items-center gap-4">
		{showIcon && <Icon name={icon} aria-hidden="true" class="size-6" />}
		<h3 class="h3">{title}</h3>
	</div>
	<slot />
</div>
