---
// components
import BaseCard from "@components/SidebarCards/BaseCard.astro";
import NewsletterForm from "@components/Forms/NewsletterForm.astro";
---

<BaseCard title="In The Know" icon="tdesign:mail">
	<p class="description">Get notified when I publish something new. Unsubscribe at any time.</p>
	<NewsletterForm name="sidebar" />
</BaseCard>
