---
// components
import BaseCard from "@components/SidebarCards/BaseCard.astro";
import NewsletterForm from "@components/Forms/NewsletterForm.astro";
---

<BaseCard title="Stay In the Loop" icon="tdesign:mail">
	<p class="description">
		Notes from the trenches on building, scaling, and shipping production ML systems.
	</p>
	<NewsletterForm name="sidebar" />
</BaseCard>
