---
// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import ContactForm from "@components/Forms/ContactForm.astro";

// data
import siteData from "@config/siteData.json";
import usesData from "@config/usesData.json";
---

<BaseLayout
	title={`Tools used by ${siteData.author.name}`}
	description={`Discover the stellar tools ${siteData.author.name} uses to craft web experiences`}
>
	<div class="mx-auto max-w-3xl px-4 pt-36 md:pt-44">
		<!-- page intro -->
		<h1 class="h1 text-pretty">Tools of the trade: software and gear I trust</h1>
		<p class="description mt-6 text-pretty">
			You'd be amazed how often I get asked what tools I use. So I've listed them all here for you!
			Discover the stellar tools I use to craft web experiences.
		</p>

		<div class="markdown-content mt-10">
			{
				usesData.map((usesItem) => (
					<>
						<h2 class="h3">{usesItem.sectionTitle}</h2>
						<ul class="mt-4">
							{usesItem.items.map((item) => (
								<li>{item}</li>
							))}
						</ul>
					</>
				))
			}
		</div>
	</div>
</BaseLayout>
