---
// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import PostCardImage from "@components/PostCard/PostCardImage.astro";
import TagCloud from "@components/TagCloud/TagCloud.astro";

// utils
import { getAllPosts } from "@js/blogUtils";

const posts = await getAllPosts();
---

<BaseLayout
	title="Our Blog Posts"
	description="Learn from our blog posts about web development, design, and more."
>
	<section class="site-container pt-36 md:pt-44">
		<h1 class="h1">
			All blog <span class="text-primary-600">posts</span>
		</h1>
		<div class="mt-4 flex">
			<TagCloud />
		</div>

		<div class="mt-10 grid gap-4 gap-y-12 md:grid-cols-2 lg:grid-cols-3">
			{
				posts.map((post) => {
					return <PostCardImage post={post} showDescription={false} />;
				})
			}
		</div>
	</section>
</BaseLayout>
