---
// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import PostCardImage from "@components/PostCard/PostCardImage.astro";
import PostCardBasic from "@components/PostCard/PostCardBasic.astro";
import TagsCard from "@components/SidebarCards/TagsCard.astro";

// utils
import { getAllPosts } from "@js/blogUtils";

// data
import siteData from "@config/siteData.json";

const posts = await getAllPosts();
---

<BaseLayout
	title={`Blog posts by ${siteData.author.name}`}
	description="Learn from our blog posts about web development, design, and more."
>
	<section class="site-container pt-36 md:pt-44">
		<div class="grid w-full items-start gap-10 md:grid-cols-5">
			<div class="md:col-span-3">
				<h1 class="h2">
					All blog <span class="text-primary-600">posts</span>
				</h1>
				<p class="description mt-6">
					A collection of useful articles I have written over the years. You can select a specific
					post tag to filter posts for that topic.
				</p>
			</div>
			<div class="md:col-span-2">
				<TagsCard />
			</div>
		</div>

		<div class="mr-auto max-w-xl">
			<ul class="mt-20 grid grid-cols-1 justify-center gap-8">
				{
					posts.map((post, idx) => (
						<li>
							<PostCardBasic post={post} showDescription={false} />
						</li>
					))
				}
			</ul>
		</div>
	</section>
</BaseLayout>
