---
import CloudUploadIcon from "@tabler/icons/outline/cloud-upload.svg";
---

<div class="starwind-upload-indicator" data-slot="dropzone-upload-indicator">
  <slot>
    <CloudUploadIcon class="mx-auto size-10" aria-hidden="true" />
    <p class="mt-1 text-sm">Click to upload or drag and drop</p>
  </slot>
</div>
